<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>RufusArm64</vendor>
  <vendor_url>https://github.com/geocausa/RufusUbuntuArm64</vendor_url>
  <icon_name>io.github.geocausa.RufusArm64</icon_name>
  <action id="io.github.geocausa.RufusArm64.write">
    <description>Create a bootable USB drive</description>
    <message>Administrator authentication is required to erase and write the selected USB drive.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/rufusarm64/rufusarm64-helper</annotate>
  </action>
  <action id="io.github.geocausa.RufusArm64.persistence">
    <description>Create a persistent live Linux USB drive</description>
    <message>Administrator authentication is required to erase the selected USB and create persistent live media.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/rufusarm64/rufusarm64-persistence-helper</annotate>
  </action>
</policyconfig>
