<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>RufusArm64</vendor>
  <vendor_url>https://github.com/geocausa/RufusUbuntuArm64</vendor_url>
  <icon_name>io.github.geocausa.RufusArm64</icon_name>
  <action id="io.github.geocausa.RufusArm64.write">
    <description>Create a bootable USB drive</description>
    <message>Administrator authentication is required to erase and write the selected USB drive.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/rufusarm64/rufusarm64-helper</annotate>
  </action>
  <action id="io.github.geocausa.RufusArm64.persistence">
    <description>Create a persistent live Linux USB drive</description>
    <message>Administrator authentication is required to erase the selected USB and create persistent live media.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/rufusarm64/rufusarm64-persistence-helper</annotate>
  </action>
  <action id="io.github.geocausa.RufusArm64.backup">
    <description>Save a verified image of a removable drive</description>
    <message>Administrator authentication is required to unmount and read the selected removable drive into an image file.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/rufusarm64/rufusarm64-device-backup</annotate>
  </action>
  <action id="io.github.geocausa.RufusArm64.format-data">
    <description>Format a removable drive as data-only media</description>
    <message>Administrator authentication is required to erase and format the selected removable drive.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/rufusarm64/rufusarm64-nonbootable-format</annotate>
  </action>
  <action id="io.github.geocausa.RufusArm64.format-freedos">
    <description>Create verified FreeDOS media on a removable drive</description>
    <message>Administrator authentication is required to erase the selected removable drive and create x86 BIOS/Legacy FreeDOS media.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/rufusarm64/rufusarm64-freedos-format</annotate>
  </action>
</policyconfig>
